/* All custom css */
body {
  font-family: 'Noto Sans JP', sans-serif;
}

div {
  border: 1px solid #000;
  box-sizing: border-box;
}

.mobile-container {
  height: 100vh;
  border: pink 6px solid;
}

.mobile-nav {
  background-color: grey;
  height: 50px;
}

.burger-menu,
.logo,
.search {
  height: 100%;
  float: left;
  width: 20%;
  text-align: center;
  vertical-align: super;
  padding-top: 14px;
}

.fa-bars {
  font-size: 20px;
  position: relative;
  /* padding-top: 14px; */
}

.logo {
  width: 60.0%;
  align-items: center;
}

.logo-text {
  position: relative;
}

.daily-section {
  background-color:#213564;
  height: 120px;
  height: 30vh;
  /* position: relative; */
  color: rgb(245, 237, 234);

}

.current-city {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 13px;
  padding-left: 15px;
  font-size:22px;
  font-weight: 100;
}

.weather-image,
.weather-info {
  height: 80%;
  float: left;
  border: none;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;

}


.weather-image {
  width:40%;

}

.weather-info {
  width:60%;
}

.fa-sun {
  font-size: 100px;
  color: rgb(254, 195, 46);
  position: absolute;
}

.fa-star {
  font-size: 30px;
}

.temp {
  font-size:50px;
  padding-bottom: 5px;
}

.line-space {
  padding-bottom:10px;
  font-weight: 100;
}

.map-section {
  background-color: green;
  height: 30vh;
  margin: 8px;
  background-color: rgb(78, 133, 230);
  position: relative;
}

.map {
  height:30vh;
  background-color: rgb(161, 162, 255);

}

iframe {
  height:100%;
  width:100%;
}


.map-title {
  height: 50px;
  Width: 70%;
  background-color: rgb(46, 38, 135);
  bottom: 0;
  left: 0;
}

.map-title,
.expand {
  position: absolute;
  background-color: #32a261;
  height: 22%;
  float: left;
}

.expand {
  width: 30%;
  bottom: 0;
  right: 0;
}

.favourite-section {
  background-color: blue;
  height: 24vh;
}

.favourite-header {
  background-color: rgb(76, 233, 185);
  height: 22%;
}

.favourite-h4 {
  padding-top:10px;
  padding-bottom:10px;
  padding-left: 10px;

}

.footer-section {
  background-color: yellow;
  height: 120px;
}


/* Media Queries-------------------------------------------------------------
/* Extra small devices (phones, 600px and down) */
/* This applies css to mobile phones */
@media only screen and (max-width: 600px) {
  .daily-section {
    background-color:red;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .daily-section {
    background-color:pink;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .daily-section {
    background-color:teal;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.mobile-nav {
  height:100px;
}


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .daily-section {
    background-color:rgb(79, 57, 213);
}
